@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

$theme-primary: #191927;

$theme-primary-light: #29293a;

$theme-primary-light-hover: #2d2d40;

$body-text: #d0d0d3;

$highlight-red: #f5464f;